{% extends "AddList/base.html" %}
{% block content %}
<ul class="AddList justify-content-center list-unstyled">
    {% for Add in AddList  %}
        <li class="Add col col-md-9 col-lg-9">
            <div class="row">
                <a href="{% url AddList:GetAdd Add.id %}" class="Add-title">{{ Add.Title }}</a>
                <a href="{% url AddList:GetAdd Add.id %}" class="Add-short_description">
                    <p class="Add-short_description">{{ Add.Content|truncatewords:50 }}...</p>
                </a>
                <span class="data">{{ Add.PostingDate}} </span>
                <div class="row">
                    <a class="btn btn-danger" href="{% url Accounts:DeleteAdd Add.id %}">Удалить</a>
                    <a href="{% url Accounts:EditAdd %}" class="btn btn-secondary">Редактировать</a>
                </div>                
            </div>
        </li>
    {% empty %}
        <p class="empty_list">В данный момент нет ни одного объявления</p>
    {% endfor %}
</ul>
{% endblock content %}